<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
		[Photo goes here]
      </h1>
    </section>
  </aside>

  <div class="col-md-8">
	[Title and location go here]
  </div>
</div>